<nav class="navbar navbar-default custom-navbar">
  <div class="container-fluid">

    <!-- Brand -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">📚 انتشارات مهرپاینده</a>
    </div>

    <!-- Menu -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/recipes">کتاب‌ها</a>
        </li>

        <li>
          <a (click)="openCart()" style="cursor: pointer; position: relative;">
            سبد خرید
            <span *ngIf="cartCount > 0" class="cart-badge">
              {{ cartCount }}
            </span>
          </a>
        </li>
      </ul>

      <!-- Right Menu -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" style="cursor:pointer">
            مدیریت <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a>
                <span class="glyphicon glyphicon-floppy-disk"></span>
                ذخیره
              </a>
            </li>
            <li>
              <a>
                <span class="glyphicon glyphicon-refresh"></span>
                همگام سازی
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
