<div class="cart-overlay" (click)="closeCart()"></div>

<div class="cart-popup" dir="rtl">
  <div class="cart-header">
    <h4>سبد خرید</h4>
    <button type="button" class="close-btn" (click)="closeCart()">×</button>
  </div>

  <div class="cart-body" *ngIf="items.length > 0; else emptyCart">
    <div class="cart-item" *ngFor="let item of items">
      <img [src]="item.imagePath" [alt]="item.name">
      <div class="cart-info">
        <h5>{{ item.name }}</h5>
        <p>{{ item.price | number:'1.0-0' }} تومان</p>

        <div class="btn-group">
          <button class="btn btn-default btn-sm" (click)="decrease(item.id)">-</button>
          <button class="btn btn-default btn-sm" disabled>{{ item.quantity }}</button>
          <button class="btn btn-default btn-sm" (click)="increase(item.id)">+</button>
        </div>
      </div>
      <div>
        <button class="btn btn-danger btn-sm" (click)="remove(item.id)">حذف</button>
      </div>
    </div>
  </div>

  <ng-template #emptyCart>
    <div class="alert alert-info text-center">
      سبد خرید شما خالی است.
    </div>
  </ng-template>

  <div class="cart-footer">
    <h4>مبلغ کل: {{ totalPrice | number:'1.0-0' }} تومان</h4>
    <button class="btn btn-success" (click)="goToCheckout()">
      ادامه سفارش
    </button> <button class="btn btn-warning" (click)="clearCart()">خالی کردن سبد</button>
  </div>
</div>